/* Mes variables page de garde */

$color1: #549C84 ;
$color2: #FDCB46 ;
$color3: #3d1319;
$fontfamily: cursive;

/* Mes mixins page de garde */

@mixin flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

@mixin flex2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin border{
    border: solid 1px #d5d6d5;
    box-shadow: 0px 0px 8px 1px #a2a5a4;
    border-radius: 2%;
}

@mixin pages_menu{
	width: 380px;
	height : 530px;
	margin-right: 50px;
	margin-bottom: 50px;
}

@mixin menustous{
	border: solid 1px #d5d6d5;
    box-shadow: 0px 0px 8px 1px #a2a5a4;
    border-radius: 2%;
	width: 80%;
	height : 80%;
    margin: 0 auto 100px;
    text-align: center;
}

@mixin font{
	font-family: "Titillium Web","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
}

@mixin block{
	display: block; 
}

/* Mes polices page de garde */

@font-face{
	font-family: "Devonshire", cursive;
	src: url("fonts.googleapis.com/css2?family=Devonshire&display=swap");
}

@font-face{
	font-family: "Kalam", cursive;
	src: url("fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
}

@font-face{
	font-family: "Croissant One", cursive;
	src: url("fonts.googleapis.com/css2?family=Croissant+One&display=swap");
}


/* Mes animations */

@keyframes point{
	0% {
		background-color: $color1;
		text-shadow: none;
	}
	90% {
		background-color: $color1;
		text-shadow: none;
	}
	100% {
		color: $color2;
	}	
}

@keyframes wiggle {
    25% {
        // entièrement à droite
        transform: translateX(1%);
    }
    75% {
        // entièrement à gauche
        transform: translateX(1% * -1);
    }
}


a:-webkit-any-link {
    color: unset; 
	text-decoration: none;
}

body{
	width: 100%;
	height: 100%;
	margin-top: 0;
	margin-left: 0;	
	font-size: 20px;
}

/* Titre En-tête */

h1{
	color: $color2;
	background-color: $color1;
	height: 100px;
	width: 100%;
	font-size: 60px;
	margin-top: 0em;
	text-align: center;
	@include flex;
	@include font;	
	cursor: pointer;
  }


/* Corps principal du document des pages de garde */

main{
	margin-bottom: 80px;
}

#titre_bouton h3{
	font-size: 3rem;
}

.pages_garde{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 65%;
}
	
.menu{
	@include flex2;
	font-family: "devonshire", cursive;
	margin-top: 50px;

}	

nav .menu a{
	transition: all 300ms ease-in-out;
	cursor: pointer;
	&:hover{
		transform: scale(1.15); 
		opacity: 0.5;
	}
}	

.page1{
	@include border;
	@include flex1;
	@include pages_menu;
	background-color: #fcdfdb;
	color: $color3;	
}

.page1 h2{
	font-weight: normal;
	font-family: "devonshire", cursive;
	font-size: 45px;
	@include block;
}

.page1 h3{
	font-family: "kalam", cursive;
	display: block;
	@include block;
	font-weight: bold;
	font-size: 2.5em;
}

.fas{
	background: linear-gradient(155deg, #f05561 0%, #f6916a 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 75px;
	margin-top: 35px;
}

.page2{
	@include border;
	@include flex1;
	@include pages_menu;
	background-color: #fff5fe;	
}

.page2 h2{
	font-family: "Croissant One", cursive, bolder;
	background: linear-gradient(155deg, #cb802f 0%, #915cfd 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include block;
	font-size: 28px;
}

.page2 h3{
	color:#cb802f;
	font-family: "Croissant One", cursive;
	@include block;
	font-size: 2em;
	
}

.page3{
	@include border;
	@include flex1;
	@include pages_menu;
	background-color: #edefef;	
}

.page3 h2{
	font-family: 'Dancing Script', cursive;
	background: linear-gradient(155deg, #0227dc 0%, #73bcfc 100%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@include block;
	font-size: 2.4rem;
}

.page3 h3{
	font-family: "kalam", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #0887fb;
	font-size: 2.5em;
}

.page4{
	@include border;
	@include flex1;
	@include pages_menu;
	background-color: #fdfffd;
}

.page4 h2{
	@include block;
	background: linear-gradient(155deg, #51a344 0%, #bfff81 100%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-family: 'Kaushan Script', cursive;
	font-size: 2.2em;
}

.page4 h3{
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	color: #72bf57;
	font-size: 2.5em;
}

nav a{
	text-align: center;
	display: inline;
}


/* Mes mixins menus */

.menu1, .menu2, .menu3, .menu4{
	@include menustous
}

@mixin titrestous{
	content: "";
    position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 0;
	left: 0;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;	
}

@mixin tarif{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-weight: bold;
	align-content: flex-end;
	margin-right: 110px;
	font-size: 1.5em;
	margin-top: -25px;
}

@mixin Designation{
	font-size: 1.1em;
    font-family: 'segoe print', 'Kalam', cursive;
    margin-left: 50px;	
	display: flex;
	justify-content: flex-start;
	width: 80%;	
	margin-left: 110px;
}

/* Corps principal du document des menus */

.menu1{
	background-color: #fcdfdb;
	color: $color3;	
	font-family: "devonshire", cursive;
}

#pagemenu1{
	font-size: 32px;
}
	
.titre{
	font-size: 2em;
}


.menu2{	
	padding-bottom: 35px;
	background-color: #fff5fe;
}

#pagemenu2 h2{
	font-family: "Croissant One", cursive, bolder;
	background: linear-gradient(155deg, #cb802f 0%, #915cfd 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.8em;
	margin-top: 80px;
}

.menu3{
	padding-bottom: 35px;
	background-color: #edefef;
}
		
#pagemenu3 h2{
		padding-top: 0;
		font-family: 'Dancing Script', cursive;
		background: linear-gradient(155deg, #0227dc 0%, #73bcfc 100%);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		font-size: 4.5em;
		margin-top: 50px
}

.menu4{
	padding-bottom: 35px;
	background-color: #edefef;
}

#pagemenu4 h2{
	padding-top: 0;
	font-family: 'Dancing Script', cursive;
	background: linear-gradient(155deg, #51a344 0%, #bfff81 100%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	@include block;
	font-size: 5.2em;
	margin-top: 60px;
}


nav{
	display: flex;
    flex-direction: column;
    align-items: stretch; 
}

img{
	width: 25%;
	margin: auto;
}

#Entrees, #Plats, #Desserts{
	font-family: kalam, cursive;
	font-size: 30px;
	width: 100%;
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
	margin: 20px 40px;
    margin-left: auto;
    margin-right: auto;
}

.titre1{
	display: inline-block;
	position: relative;
	cursor: pointer;
	&::before{
	@include titrestous;
	background: $color3;
	}
	&:hover::before{
	transform: scaleX(1);
	transform-origin: bottom left;
	}
}

.titre2{
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: #c67412;
	&::before{
	@include titrestous;
	background: #c67412;
	}
	&:hover::before{
	transform: scaleX(1);
	transform-origin: bottom left;
	}
}

.titrebis{
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: #a56799;
	&::before{
	@include titrestous;
	background: #a56799;
	}
	&:hover::before{
	transform: scaleX(1);
	transform-origin: bottom left;
	}
}

.titreter{
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: #6e4ccc;
	&::before{
	@include titrestous;
	background: #6e4ccc;
	}
	&:hover::before{
	transform: scaleX(1);
	transform-origin: bottom left;
	}
}

.titre3{
	display: inline-block;
	position: relative;
	cursor: pointer;
	&::before{
	@include titrestous;
	background:	#0887fb;
	-webkit-text-fill-color: transparent;
	}
	&:hover::before{
	transform: scaleX(1);
	transform-origin: bottom left;
	}
}

.titre4{
	display: inline-block;
	position: relative;
	cursor: pointer;

	&::before{
	@include titrestous;
	background: #72bf57;
	-webkit-text-fill-color: transparent;
	}
	&:hover::before{
	transform: scaleX(1);
	transform-origin: bottom left;
	}
}

.tarif{
	@include tarif;
}

.tarif1{
	@include tarif;
	color: #c67412;
}

.tarif2{
	@include tarif;
	color: #a56799;
}

.Designation{
	@include Designation;
}

 .Designation1{
	 @include Designation;
	 color:  #c67412;
	
}

.Designation2{
	@include Designation;
	color: #a56799;
}

.Designation3{
	@include Designation;
	color: #6e4ccc;
}

.fin_de_page{
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
}

.fin_de_page h2{
	font-size: 40px;
	margin-left: 12px;
}

.fin_de_page i{
	font-size: 50px;
	margin: auto;
}

/* Contenu Mentions Légales */

.Mentions_Légales{
	@include border;
	@include font;
    font-size: 1.50em;
    text-align: center;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 95px;
	margin-bottom: 5%;
	padding-top: 20px;
	padding-bottom: 50px;
	width: 87%;
	background-color: #f7f7f7;
	$color1: #549C84;
	$color2: #FDCB46;
	@include flex2;
}

.Mentions_Légales h3{
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
	color:  #72bf57;
}

.Mentions_Légales p{
	text-align: justify;
}

.come-back{
	margin: auto;
	width: 30%;
	height: 57px;
	font-size: 30px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	border-radius: 0.75rem;
	color: $color2;
	background-color: $color1;
	margin-bottom: 90px;
}


/* Bouton Prochainement */

#titre_bouton{
	font-size: 30px;
	@include font;
	margin-left: 25px;
}

.points_suspension{
	color: $color2;
	background-color: $color1;
	border-radius: 0.75rem;
	font-size: 2rem;
	width: 25%;
	height: 57px;
	display: flex;
	align-items: center;
	margin: auto;
}

.ul{ 		
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	display: flex;
    justify-content: space-around;
	flex-direction: row;
	align-items: center;	
}

ul li{
	display: inline-block;
	list-style-type: none;
	background-color: $color2;
	color: $color2;
	animation: point 0.5s linear infinite;
	font-size: 14px;
	border-radius: 50% 50%;
	margin-left: 30px;
}	

ul li:nth-child(1){
	animation-delay: 0.10s;
}
ul li:nth-child(2){
	animation-delay: 0.20s;
}
ul li:nth-child(3){
	animation-delay: 0.30s;
}

.bouton_animation{
	margin-top: -3rem;
	width: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

i{
	border-radius: 0.6rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;	
}

/* footer */

.footer2{
	  color: $color2;
	  background-color: $color1;
	  font-size: 1.4rem;
	  width: 100%;
	  height: 60px;
	  display: flex;
      flex-direction: row;
	  justify-content: center;
	  align-items: center;	  
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  justify-content: space-around;
	  @include font;
  }

#footer_right{
	  margin-left: 32em;
	  @include font;	  	
  }

#footer_left h3, #footer_right h3{
	cursor: pointer;

	&:hover{
		animation: wiggle 190ms cubic-bezier(.1,.4,.6,.9) 2;
		animation: wiggle 190ms linear infinite;
	}	
}	


  /* Responsive */

 /* Mixin Responsive */

 @mixin largeur1{
	 width: 100%;
 }

@mixin largeur1{
	width: 85%;
}
 
@media all and (max-width: 800px){
    
	html, body{
	   max-width: 800px;
	   overflow-x: hidden;
	} 
	body{
		border: unset;
	}

	main{
		margin-left: 50px;
	}

	header{
        width: 100%;
        flex-direction: column;
        text-align: center;
	}

	.pages_garde{
		width: 100%;
		margin: auto;
	}

	.bouton-animation, .points_suspension, #titre_bouton{
		width: 85%;
	}

	#titre_bouton{
		font-size: 18px;
		margin-left: 2px;
	}

	.points_suspension{
		font-size: 10px;
	}

	ul{
		display: flex;
		margin-right: 10px;
	}

	ul li{
		font-size: 12px;
		margin-left: 8px;
	}
	
	#footer_right h3, #footer_left h3{
	margin-left: 0;
    font-size: 18px;
	}

	#footer_right{
	margin-left: 0;
	}
	
	.menu_entree, .menu_plats, .menu_desserts{
	width: 100%;
	display: block;
	text-align: left;
	}
	
	.Designation, .Designation1, .Designation2, .Designation3{
	font-size: 1.0em;
	margin-left: 20px;
	width: 240px;
	}

	.tarif, .tarif1, .tarif2{
	margin-right: 12px;
	margin-left: 260px;
	text-align: center;
	font-size: 23px;
	width: 30px;
	}
	
	#pagemenu1 h2, #pagemenu2 h2{
	font-size: 1.2em;
	}
	
	#pagemenu3 h2, #pagemenu4 h2{
	font-size: 1.8em;
	}

	#Entrees .titre1, #Plats .titre1{
	font-size: 26px;
	}

	#Desserts .titre1{
		font-size: 23px;
	}

	#Entrees .titre2, #Entrees .titre3, #Entrees .titre4, #Plats .titrebis, #Plats .titre3, #Desserts .titreter, #Plats .titre3, #Plats .titre4, #Desserts .titre4{
		width: 100%;
		font-size: 0.85em;
		font-weight: normal;
		}
	
		#Desserts .titre1{
			font-size: 23px;
		}



}











